<!DOCTYPE HTML>
<!-- xmlns:th="http://www.thymeleaf.org" is used to stop our IDE from throwing errors when we
 utilize the th namespace. This is how we declare that namespace -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contact Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <style>

    </style>
</head>
<body>
<!--The text below will be replaced by Thymeleaf-->
<p th:text="'Hello, ' + ${name} + '!'" />
<p th:text="'Hello, ' + ${address} + '!'" />
<p th:text="'I am ' + ${age} + ' years old.'" />
</body>
</html>